:root {
  --header-height: 70px;
  --search-and-filter-container-height-in-sm: ;
}

.search-and-filter-container {
  max-width: 1280px;
  margin: auto;
  height: 180px;
}

@media screen and (min-width: 768px) {
  .search-and-filter-container {
    height: 110px;
  }
}

.filter-container {
  max-width: 260px;
  padding: 10px;
}

.filter-para {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.price-slider {
  margin-left: 5px;
}

.price-indicator-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-bottom: 10px;
  max-width: 260px;
  gap: 10px;
}

.search-container {
  padding: 8px;
  background-color: #ffe619;
}

.search-bar {
  display: flex;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.search-input {
  height: 100%;
  flex-grow: 2;
  font-size: 17px;
  padding: 5px;
  outline: none;
  border: none;
}

.search-icon {
  background-color: white;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 20px;
  padding: 10px;
  height: 100%;
  width: 70px;
}

.books-item-container {
  min-height: calc(100vh - var(--header-height));
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.book-list-loading-view {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-para {
  font-size: 20px;
  font-weight: 500;
}

.book-list-failure-view-container {
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.something-wrong-para {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.empty-search-view-container {
  height: calc(100vh - var(--header-height));
  height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsiveness*/
@media screen and (min-width: 576px) {
  .search-and-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .filterContainer {
    order: 1;
  }

  .search-container {
    order: 2;
    background-color: transparent;
  }
}
