.navbar {
  height: 70px;
  width: 100%;
  background-color: #ffe619;
}

.inner-container {
  max-width: 1280px;
  padding: 10px;

  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  border: 1px solid #000000;
  padding: 8px;
  font-size: 25px;
  font-weight: bold;
}

.website-name {
  font-size: 20px;
  margin-left: 8px;
}

.nav-items-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-btns {
  border: none;
  font-size: 1.5em;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
}

.nav-btns:hover {
  background-color: #ffffff;
}

.nav-btn-txt {
  color: black;
  font-weight: 400;
  margin-left: 5px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .nav-btn-txt {
    display: none;
  }
}
